# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Personal API key
lib/src/private_keys.dart

# Generated code
lib/src/proto/
lib/src/*.g.dart
test/testing/*.g.dart

# IntelliJ
.idea/

# mac
.DS_Store

# Server
server/.buildlog
server/.pub/
server/build/
server/packages
server/.packages
server/**/*.dart.js
server/**/*.js_
server/**/*.js.deps
server/**/*.js.map
server/workspace.xml
server/Dart_Packages.xml
server/**/*.aqueduct.pid

